<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your interest, <%= @user.name %></h1>
    <p>
      We are processing your request for the full infor on the song.<br>
    </p>
    <p>Thank you and have a great day!</p>
  </body>
</html>